<div class="titleB"><img src="/tog_depot/images/tog-depot_iconfolder_48px.gif" border="0" /> Edit folder<br /><br /></div>

<%= error_messages_for :folder %>
<% form_for :filefolder, :url => member_depot_filefolder_path(@filefolder), :html => {:action => 'update', :method => "put", :id => "settings"} do |f| -%>
  <fieldset>
    <div class="fields">
      <p>
        <label for="folder_title">Title</label><%= f.text_field :title, :class=>"fieldbox wide" %></p>
      <p><label for="folder_tag_list">Tags (separated with ,)</label><%= f.text_field :tag_list, :class=>"fieldbox wide" -%></p>
      <p>
        <label for="folder_state">Visibility 
        </label>
        <%= select_tag "state", options_for_select(Depot::Filefolder.states, @filefolder.current_state) -%>
        <br>(Changing folder privacity will affect all files into folder)</p>
      <p>
        <label for="folder_description">Description</label><%= f.text_area :description, :class=>"fieldbox wide" %></p>
     
    </div>
  </fieldset>
  <div class="actions"><%= link_to '&lt;&lt; Back to filelist',  member_depot_files_path, :class => 'button mainaction' %>
<%= submit_tag 'Edit folder', :class => 'button mainaction' %></div>
<% end -%>
