<% include_stylesheet "/tog_depot/stylesheets/depot" %>
<% content_for :sidebar do %>
<ul class="tags">
<li class="l5">
<%= link_to 'Edit Folder', edit_member_depot_filefolder_url(@filefolder.id) %>
</li>
<li class="l5">
<%= link_to 'Delete Folder', member_depot_filefolder_url(@filefolder.id), :method => :delete %>
</li>
</ul>
<% end %>
 
<div class="portlet portletB">
<h1><img src="/tog_depot/images/tog-depot_iconfolder_48px.gif" border="0" alt="Member file"/> <%= @filefolder.title%></h1>
<b>Tags:</b>
  <% tags = @filefolder.tag_list %>
  <% if !tags.blank? %>
    <% for tag in tags %>
      <%= link_to tag, tag_member_depot_files_path(tag.to_sym) %>
    <% end %>
  <% else %>
    No tags.
  <% end %>
<br />
<b>Owner:</b> <%= @filefolder.user.login %><br />
<b>Created at:</b> <%= @filefolder.created_at %><br />
<b>Updated at:</b> <%= @filefolder.updated_at %><br>
<br />
<b>Description:</b> <%= @filefolder.description %><br>
<br />
 
<%= link_to 'Upload new file', new_member_depot_file_url, :class => 'button add' %><br /><br />
<h2 style="width:690px;"><span><%= @filefolder.title%> content</span></h2>
<table border="0" cellpadding="0" cellspacing="0">
                 <thead>
                  <tr bgcolor="#eeeeee">
                   <th><img src="/tog_depot/images/tog-depot_arrow_up_deact.gif" border="0" /><br /></th>
                   <th rowspan="2">Type</th>
                   <th><a href="<%= member_depot_files_order_path('title ASC') %>"><img src="/tog_depot/images/tog-depot_arrow_up.gif" border="0" /></a><br /></th>
                   <th rowspan="2">Filename</th>
                   <th><a href="<%= member_depot_files_order_path('created_at ASC') %>"><img src="/tog_depot/images/tog-depot_arrow_up.gif" border="0" /></a><br /></th>
                   <th rowspan="2">Release date</th>
                   <th><img src="/tog_depot/images/tog-depot_arrow_up_deact.gif" border="0" /><br /></th>
                   <th rowspan="2">Owner</th>
                   <th><img src="/tog_depot/images/tog-depot_arrow_up_deact.gif" border="0" /><br /></th>
                   <th rowspan="2">Times dl.</th>
                   <th><img src="/tog_depot/images/tog-depot_arrow_up_deact.gif" border="0" /><br /></th>
                   <th rowspan="2">In folder</th>
                   <th><a href="<%= member_depot_files_order_path('state ASC') %>"><img src="/tog_depot/images/tog-depot_arrow_up.gif" border="0" /></a><br /></th>
                   <th rowspan="2">Vis.</th>
                  </tr>
                  <tr bgcolor="#eeeeee">
                    <th bgcolor="#eeeeee"><img src="/tog_depot/images/tog-depot_arrow_dn_deact.gif" border="0" /></th>
                    <th bgcolor="#eeeeee"><a href="<%= member_depot_files_order_path('title DESC') %>"><img src="/tog_depot/images/tog-depot_arrow_dn.gif" border="0" /></a></th>
                    <th bgcolor="#eeeeee"><a href="<%= member_depot_files_order_path('created_at DESC') %>"><img src="/tog_depot/images/tog-depot_arrow_dn.gif" border="0" /></a></th>
                    <th bgcolor="#eeeeee"><img src="/tog_depot/images/tog-depot_arrow_dn_deact.gif" border="0" /></th>
                    <th bgcolor="#eeeeee"><img src="/tog_depot/images/tog-depot_arrow_dn_deact.gif" border="0" /></th>
                    <th bgcolor="#eeeeee"><img src="/tog_depot/images/tog-depot_arrow_dn_deact.gif" border="0" /></th>
                    <th bgcolor="#eeeeee"><a href="<%= member_depot_files_order_path('state DESC') %>"><img src="/tog_depot/images/tog-depot_arrow_dn.gif" border="0" /></a></th>
                  </tr>
                 </thead>
                 <tbody>
                 
          <% if @my_files.empty? %>
            <tr><td colspan="14">There isn't any files yet.
               </td>
            </tr>
          <% else %>
             <% @my_files.each do |file| %>
                <tr>
                 <td colspan="2"><img src="/tog_depot/images/1px.gif" border="0" height="4" width="5"/><br />
                 <div class="fileicon_32"><img src="/tog_depot/images/1px.gif" border="0" height="14" width="5"/><br /><%= file.filename.to_s.scan(/\.\w+$/) %></div>
                 </td>
                <td colspan="2">
                 <h3><%= link_to file.title, member_depot_file_url(file.id) %></h3>
                  </td>
                  <td colspan="2"><%= file.created_at %></td>
                  <td colspan="2"><%= file.user.login %></td>
                  <td style="padding-right:20px;" align="right" colspan="2"><%= file.num_download %></td>
                  <td colspan="2">
                    <% if file.filefolder%>
                    <%= file.filefolder.title %>
                    <%end%>
                  </td>
                  <td colspan="2"><img src="/tog_depot/images/privacity/member.gif" border="0" alt="Member file"/></td>
                  </tr>
                  <tr><td class="brd_bt" colspan="2"></td><td class="end_list" colspan="12">
                  
                  <% tags = file.tag_list %>
                  <b>Tags:</b>
                  <% if !tags.blank? %>
                    <% for tag in tags %>
                      <%= link_to tag, tag_member_depot_files_path(tag.to_sym) %>
                    <% end %>
                  <% else %>
                    No tags.
                  <% end %>
   </td>
               </tr>
             <% end %>
          <% end %>
        </tbody>
  </table>
            
 
<br>
<div class="info_results" style="width:688px;">
  <div class="floater_R" style="float:right; padding-right:4px;">
    <%= will_paginate @my_files %>
  </div>
  <br>
  <div class="float_breaker" style="clear:both;"></div>
 
</div> <br><br><%= link_to '&lt;&lt; Back to filelist',  member_depot_files_path %></div>
