<% include_stylesheet "/tog_depot/stylesheets/depot" %>
<div class="portlet portletB">
<%= link_to 'Upload new file', new_member_depot_file_url, :class => 'button add' %>
<%= link_to 'Create new folder', new_member_depot_filefolder_url, :class => 'button add' %><br /><br />
    <h2 style="width:690px;"><span>Public files</span></h2>

    <div class="portlet_content"> 
        <table border="0" cellpadding="0" cellspacing="0">
    <thead>
                  <tr bgcolor="#eeeeee">
                   
                   <th width="10" height="8" align="left" valign="MIDDLE">
                     <img src="/tog_core/images/ico/arrow-up.gif" border="0" /><br />                     </th>
                   <th height="16" rowspan="2" align="left" valign="MIDDLE"> &nbsp;Type</th>
                   <th width="10" height="8" align="left" valign="MIDDLE">
                     <img src="/tog_core/images/ico/arrow-up.gif" border="0" /><br />                     </th>
                   <th height="16" rowspan="2" align="left" valign="MIDDLE"> &nbsp;Filename</th>
                   <th width="10" height="8" align="left" valign="MIDDLE">
                     <img src="/tog_core/images/ico/arrow-up.gif" border="0" /><br />                     </th>
                   <th height="16" rowspan="2" align="left" valign="MIDDLE"> &nbsp;Release date</th>
                   <th width="10" height="8" align="left" valign="MIDDLE">
                     <img src="/tog_core/images/ico/arrow-up.gif" border="0" /><br />                     </th>
                   <th height="16" rowspan="2" align="left" valign="MIDDLE">&nbsp; Owner</th>
                   <th width="10" height="8" align="left" valign="MIDDLE">
                     <img src="/tog_core/images/ico/arrow-up.gif" border="0" /><br />                     </th>
                   <th height="16" rowspan="2" align="left" valign="MIDDLE"> &nbsp;Times dl.</th>
                   <th width="10" height="8" align="left" valign="MIDDLE">
                     <img src="/tog_core/images/ico/arrow-up.gif" border="0" /><br />                     </th>
                   <th height="16" rowspan="2" align="left" valign="MIDDLE"> &nbsp;In folder</th>
        </tr>
                  <tr bgcolor="#eeeeee">
                    <th width="10" height="8" align="left" valign="MIDDLE"><img src="/tog_core/images/ico/arrow-down.gif" border="0" /></th>
                    <th width="10" height="8" align="left" valign="MIDDLE"><img src="/tog_core/images/ico/arrow-down.gif" border="0" /></th>
                    <th width="10" height="8" align="left" valign="MIDDLE"><img src="/tog_core/images/ico/arrow-down.gif" border="0" /></th>
                    <th width="10" height="8" align="left" valign="MIDDLE"><img src="/tog_core/images/ico/arrow-down.gif" border="0" /></th>
                    <th width="10" height="8" align="left" valign="MIDDLE"><img src="/tog_core/images/ico/arrow-down.gif" border="0" /></th>
                    <th height="8" align="left" valign="MIDDLE"><img src="/tog_core/images/ico/arrow-down.gif" border="0" /></th>
                  </tr>
                 </thead>
                 <tbody>
             <% @folders.each do |folder| %>
                <tr>
                 
                 <td colspan="2" align="CENTER"><img src="/tog_depot/images/1px.gif" border="0" height="4" width="5"/><br />
                 <div class="foldericon_32"><img src="/tog_depot/images/tog-depot_iconfolder_32px.gif" border="0" /></div>                 </td>
                <td colspan="2">
								 <h3><%= link_to folder.title, depot_filefolder_url(folder.id) %></h3>                  </td>
                  <td colspan="2"><%= folder.created_at %></td>
                  <td colspan="2"><%= folder.user.login %></td>
                  <td style="padding-right:20px;" align="right" colspan="2"></td>
                  <td colspan="2"> </td>
                  </tr>
                  <tr><td class="brd_bt" colspan="2"></td><td class="end_list" colspan="12">
                  
                  <% tags = folder.tag_list %>
                  <b>Tags:</b>
                  <% if !tags.blank? %>
                    <% for tag in tags %>
                      <%= link_to tag, tags_depot_filefolders_url(:tag => tag) %>
                    <% end %>
                  <% else %>
                    No tags.
                  <% end %>
	               </td>
               </tr>
             <% end %>
          <% if @files.empty? %>
            <tr><td>There isn't any files yet.
          <% else %>
             <% @files.each do |file| %>
                <tr>
                 
                 <td colspan="2" align="CENTER"><img src="/tog_depot/images/1px.gif" border="0" height="4" width="5"/><br />
                  <div class="fileicon_32"><img src="/tog_depot/images/1px.gif" border="0" height="14" width="5"/><br />EXT</div>                 </td>
                 <td colspan="2">
								 <h3><%= link_to file.title, depot_file_path(file.id) %></h3>                  </td>
                  <td colspan="2"><%= file.created_at %></td>
                  <td colspan="2"><%= file.user.login%></td>
                  <td style="padding-right:26px;" align="right" colspan="2">56</td>
                  <td colspan="2">
										<% if file.filefolder%>
										<%= file.filefolder.title %>
                    <%end%>                  
                  </td>
                  </tr>
                  <tr><td class="brd_bt" colspan="2"></td><td class="end_list" colspan="10">
                  
                  <% tags = file.tag_list %>
                  <b>Tags:</b>
                  <% if !tags.blank? %>
                    <% for tag in tags %>
                      <%= link_to tag, tags_depot_files_url(:tag => tag, :user => file.user_id) %>
                    <% end %>
                  <% else %>
                    No tags.
                  <% end %>
                </td>
               </tr>
             <% end %>
          <% end %> 
        </tbody>
        </table>
            
</div><br />
<div class="info_results" style="width:688px;"><div class="floater_L" style="float:left;">328 file(s)</div><div class="floater_R" style="float:right; padding-right:4px;"><img src="/tog_core/images/ico/arrow-left-blue-small.gif" border="0" /> Showing 1 / 290 <img src="/tog_core/images/ico/arrow-right-blue-small.gif" border="0" /></div><div class="float_breaker" style="clear:both;"></div></div>
    </div>


