<% include_stylesheet "/tog_depot/stylesheets/depot" %>
<% content_for :sidebar do %>
<% end %>


<div id="file_overview">
 <div class="floater_L">
 <div class="fileicon_48"><img src="/tog_depot/images/1px.gif" border="0" height="26" width="5"/><br /><%= @extension %></div> 
 </div>
 <div class="floater_R">
 <h1><img src="/tog_depot/images/1px.gif" border="0" height="28" width="5"/><br /><%= @file.title %><h1>
 </div>
 <div class="float_breaker"></div>
 <div style="padding-left:15px;">
  <b>Tags:</b> <a href="#">aqui</a> <a href="#">van</a> <a href="#">los</a> <a href="#">tags</a> <a href="#">de</a> <a href="#">cada</a>  <a href="#">archivo</a>   
  <p class="file_metadata">
   <b>Created:</b> <%= @file.created_at %><br />
   <b>Updated:</b> <%= @file.updated_at %><br />
   <b>Size:</b><br />
   <b>Type:</b><br />
   <b>Uploaded by:</b><br />   
   <b>Times downloaded:</b>
  </p>
  <p>
   <b>Description:</b>
   <%= @file.description %> 
   <br /><br />
  </p>
 </div>
 
  <div class="floater_L" style="float:left;"><a href=" <%= @file.public_filename %> "><img src="/tog_depot/images/tog-depot_file_dl.gif" border="0" /></a></div> <div style="float:left; padding-left:8px;"><h2 class="no_margins" style="padding:0px; border:0px; margin:0px;"><%= link_to "Download file",  @file.public_filename %></h2>
  
	<%= link_to "Report abuse",  report_abuse_link(@comment, 'Report abuse', :class => 'abuse_link') %>
  
  </div>
  <div style="clear:both;" class="float_breaker"></div><br />

 <%= link_to "&lt;&lt; Back to public files list", "/depot/files"  %>
</div>


