<% include_stylesheet "/tog_depot/stylesheets/depot" %>
<% content_for :sidebar do %>
  <%= render :partial => 'tag_cloud_file', :locals => { :file => @file } %>
<% end %>


<div id="file_overview">
 <div class="floater_L">
 <div class="fileicon_48"><img src="/tog_depot/images/1px.gif" border="0" height="26" width="5"/><br /><%= @extension %></div> 
 </div>
 <div class="floater_R">
 <h1><img src="/tog_depot/images/1px.gif" border="0" height="28" width="5"/><br /><%= @file.title %></h1>
 </div>
 <div class="float_breaker"></div>
 <div style="padding-left:15px;"> 

<% tags = @file.tag_list %>
                  <b>Tags:</b>
                  <% if !tags.blank? %>
                    <% for tag in tags %>
                      <%= link_to tag, tag_depot_files_path(tag.to_sym) %>
                    <% end %>
                  <% else %>
                    No tags.
                  <% end %> 

  <p class="file_metadata">
   <b>Created:</b> <%= @file.created_at %><br />
   <b>Updated:</b> <%= @file.updated_at %><br />
   <b>Size:</b> 
	 <%if @file.size%>
	 <%= @file.size / 1024 %> Mb. (<%= @file.size %> Bytes)
   <%end%>
   <br />
   <b>Owner:</b> <%= @file.user.login %><br />   
   <b>Times downloaded:</b> <%= @file.num_download %><br />
   <b>Parent folder:</b> 
	 	<%if @file.filefolder%>
			<%if @file.filefolder.state== 'public'%>
				<%= link_to @file.filefolder.title, depot_filefolder_url(@file.filefolder.id) %>
      <%else%>
      	<%=@file.filefolder.title%> (private)
      <%end%>
    <%end%>
   <br />
   <b>Visibility: <%= @file.state %></b>
  </p>
  <p>
   <b>Description:</b>
   <%= @file.description %> 
   <br /><br />
  </p>
 </div>
 
  <div class="floater_L" style="float:left;">
  <a href=" <%= depot_files_download_path %> "><img src="/tog_depot/images/tog-depot_file_dl.gif" border="0" /></a></div>
  <div style="float:left; padding-left:8px;"><h2 class="no_margins" style="padding:0px; border:0px; margin:0px;">
	<%= link_to "Download file",  depot_files_download_path %>
  </h2>
  
  <%= report_abuse_link(@file, 'Report abuse', :class => 'abuse_link') -%>
  
  </div>
  <div style="clear:both;" class="float_breaker"></div><br />

<%= link_to '&lt;&lt; Back to filelist',  depot_files_path %><br /><br />
 <%= render :partial => "shared/comments", :locals => { :commentable => @file } %>

</div>
