<div class="titleB"><img src="/tog_depot/images/tog-depot_iconfile_48px.gif" border="0" /> Edit file</div><br /><br />

<%= error_messages_for :file %>
<% form_for :file, :url => member_depot_file_path(@file), :html => {:action => 'update', :id => "settings", :multipart => true, :method => "put"} do |f| -%>

   <fieldset>
    <div class="fields">
      <p><label for="file_title">File title</label><%= f.text_field :title, :class=>"fieldbox wide" %></p>
      <p><label for="file_state">Parent folder</label>
			<%if @folders%>
   			<%= select (:file, :filefolder_id, @folders.collect {|p| [p.title,p.id]}, { :include_blank => true}) %>
       <%else%>
       <%= link_to 'Create new folder', new_member_depot_filefolder_url, :class => '' %> <br /><br />
       <%end%>
        </p>
      <p><label for="file_tag_list">Tags (separated with ,)</label><%= f.text_field :tag_list, :class=>"fieldbox wide" -%></p>
      <p><label for="file_state">Visibility</label>
        <%= select_tag "state", options_for_select(Depot::File.states, :draft) -%></p>
      <p><label for="file_description">File description</label><%= f.text_area :description, :class=>"fieldbox wide" %></p>
      <% fields_for :file do |img|%>
      <p><label for="file_file">Select file</label><%= img.file_field :uploaded_data %></p>
      <% end %>
    </div>
  </fieldset> 
  <div class="actions"><%= f.submit "Apply changes",:class=>"button mainaction" %></div>
<% end -%>
<p><%= @file.public_filename %></p>